{
 :paths ["src"]

 :deps
 {org.clojure/clojure  {:mvn/version "1.10.1"}
  camel-snake-kebab    {:mvn/version "0.4.0"}
  nrepl                {:mvn/version "0.6.0"}
  com.taoensso/tempura {:mvn/version "1.2.1"}  ; i18n
  juxt/clip            {:mvn/version "0.16.0"} ; state management
  aero                 {:mvn/version "1.1.6"}  ; config management


  com.taoensso/timbre       {:mvn/version "4.10.0"} ; logging
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.19"} ; send other libraries' logs to timbre

  ;; still testing the waters with this
  gnl/ghostwheel {:mvn/version "0.3.9"}
  }

 :aliases
 {:dev
  {:jvm-opts
   ["-Dghostwheel.enabled=true"]}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha           {:mvn/version "1.0.632"}
    lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"}
    expectations/clojure-test     {:mvn/version "1.2.1"}}}

  :build
  {:extra-deps
   {seancorfield/depstar {:mvn/version "1.0.94" }}
   :main-opts
   ["-m" "hf.depstar.uberjar" "target/paragon.jar"]}}
 }
