{
 :paths ["src" "resources"]

 :deps
 {
  ;; generally useful
  org.clojure/clojure         {:mvn/version "1.10.1"}
  org.clojure/tools.namespace {:mvn/version "1.0.0"}
  camel-snake-kebab           {:mvn/version "0.4.1"}
  idle/multiset               {:local/root "/home/winsome/scratch/multiset"
                               :git/url "https://github.com/win-some/multiset"
                               :sha "80deac7a58ebc27a3f1d0c171e7442c3270b16a6"} ; multiset
  ubergraph                   {:mvn/version "0.8.2"}
  metosin/tilakone            {:mvn/version "0.0.4"}  ; fsm
  jarohen/chime               {:mvn/version "0.3.2"}  ; scheduling
  nrepl                       {:mvn/version "0.7.0"}  ; networked repl
  com.taoensso/tempura        {:mvn/version "1.2.1"}  ; i18n
  com.taoensso/timbre         {:mvn/version "4.10.0"} ; logging
  com.fzakaria/slf4j-timbre   {:mvn/version "0.3.19"} ; send other libraries' logs to timbre
  aero                        {:mvn/version "1.1.6"}  ; config management
  juxt/clip                   {:mvn/version "0.18.0"} ; state management, repl/reloaded workflow

  ;; async
  manifold               {:mvn/version "0.1.8"}
  funcool/promesa        {:mvn/version "4.0.0"}
  org.clojure/core.async {:mvn/version "1.2.603"}

  ;; web stuff
  metosin/jsonista               {:mvn/version "0.2.6"}  ; json encode/decode
  metosin/muuntaja               {:mvn/version "0.6.7"}  ; content negotiation
  metosin/reitit                 {:mvn/version "0.5.2"}  ; routing
  metosin/ring-http-response     {:mvn/version "0.9.1"}  ; http response helpers
  info.sunng/ring-jetty9-adapter {:mvn/version "0.13.0"} ; web server

  ;; sql db stuff
  org.postgresql/postgresql {:mvn/version "42.2.14"}
  seancorfield/next.jdbc    {:mvn/version "1.0.478"}
  hikari-cp                 {:mvn/version "2.12.0"} ; connection pooling
  com.layerware/hugsql      {:mvn/version "0.5.1"}  ; sql generation
  migratus                  {:mvn/version "1.2.8"}  ; migrations

  ;; datalog db stuff
  io.replikativ/datahike {:mvn/version "0.3.1"}
  com.wsscode/pathom     {:mvn/version "2.2.31"}
  juxt/crux              {:mvn/version "19.04-1.0.2-alpha"}

  ;; experimental
  lambdaisland/regal {:git/url "https://github.com/lambdaisland/regal.git"
                      :sha "26c1c95aee28fa34125bac60a1136254b4231418"} ; regex
  #_metosin/malli #_{:local/root "/home/winsome/scratch/malli"}
  orchestra {:mvn/version "2018.12.06-2"}
  gnl/ghostwheel {:mvn/version "0.3.9"}
  }

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :jvm-opts
   ["-Dghostwheel.enabled=true"]}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha           {:mvn/version "1.0.632"}
    lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"}
    expectations/clojure-test     {:mvn/version "1.2.1"}}}

  :build
  {:extra-deps
   {seancorfield/depstar {:mvn/version "1.0.94"}}
   :main-opts
   ["-m" "hf.depstar.uberjar" "target/paragon.jar"]}

  :outdated
  {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
   :main-opts  ["-m" "depot.outdated.main"]}}
 }
