{
 :components
 {:paragon/config
  {:start
   {:db-uri #profile {:dev {:backend :file :path "resources/db/main-dev" }
                      :test {:backend :file :path "resources/db/main-test" }
                      :prod {:backend :file :path "resources/db/main" }}
    :http-port #or [#env PORT 3000]}}

  :paragon/db
  {:pre-start (paragon.services.datahike/initialize-db (:db-uri (clip/ref :paragon/config)))
   :start (paragon.services.datahike/connect-db (:db-uri (clip/ref :paragon/config)))}

  :paragon/http
  {:start (paragon.services.http/start-server (:http-port (clip/ref :paragon/config)))
   :stop (paragon.services.http/stop-server this)}}}
